/* color config */

[background-color="primary"] {
  background-color: var(--primary);
  color: var(--lightfont);
}

[background-color="secondary0"] {
  background-color: var(--secondary0);
  color: var(--lightfont);
}

[background-color="secondary1"] {
  background-color: var(--secondary1);
  color: var(--lightfont);
}

[background-color="secondary2"] {
  background-color: var(--secondary2);
  color: var(--lightfont);
}

[background-color="secondary3"] {
  background-color: var(--secondary3);
  color: var(--lightfont);
}

[background-color="secondary4"] {
  background-color: var(--secondary4);
  color: var(--lightfont);
}

/* header */

.header {
  position: fixed;
  width: 100%;
  z-index: 800;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);
  padding: 5px 30px;
  top: 0;
  font-size: 20px
}

.header * {
  float: left;
  display: inline-block;
}

.header .logo {
  font-family: logoFont;
  font-size: 50px;
}

/* btn */

.btn {
  font-size: inherit;
  background: transparent;
  color: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 10px;
}

.btn.bordered {
  border: 1px solid var(--lightfont);
}

/* menu */

.menu {
  position: fixed;
  height: 100%;
  left: 0;
  width: 250px;
  border-right: 1px solid var(--secondary2);
  padding-top: 85px;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
}

.menu-btn {
  font-size: 0px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out
}

.menu a {
  display: block;
  color: var(--lightfont);
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
}

.menu a:hover {
  background-color: rgba(0,0,0,.2)
}

/* content */

.content {
  position: absolute;
  width: calc(100% - 250px);
  padding-top: 65px;
  margin-left: 250px;
  padding: 85px 20px;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
}

/* card */

.card {
  background-color: var(--secondary2);
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2);
  font-size: 18px;
  margin: 10px;
  width: calc(50% - 22px);
  display: inline-block;
  vertical-align: top;
}

.card .card-header, .card .card-body, .card .card-footer {
  display: block;
  width: 100%;
}
.card .card-header::after, .card .card-body::after, .card .card-footer::after {
    content: "";
    display: block;
    clear: both;
}

.card .card-header, .card .card-footer {
  margin: 10px;
  width: calc(100% - 20px);
}

.card .card-header * {
  display: inline-block;
}

.card .card-header .btn-follow {
  float: right;
}

.card .card-header .profile {
  float: left;
  padding: 7px 10px;
  width: calc(100% - 170px);
}

.card .card-header .profile-img {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card .card-footer .title {
  width: 100%;
  float: left;
  text-align: center;
}

.card .card-footer .options {
  float: right;
  padding: 7px 10px;
  width: 100%;
}

.card .card-footer .options .option {
  float: right;
  width: calc(100% / 3);
  padding: 0;
}

/* popup */

.popup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0,0,0,.3);
  transition: opacity 250ms ease-in-out;
  -moz-transition: opacity 250ms ease-in-out;
  -webkit-transition: opacity 250ms ease-in-out;
}

.popup.active {
  pointer-events: all;
  opacity: 1;
}

.popup .popup-area {
  width: 80%;
  margin: 80px auto 0 auto;
  background-color: black;
  height: 80%;
}

/* media settings */

@media screen and (max-width: 1080px) {

  .card {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 820px) {

  .menu {
    left: -250px;
  }

  .menu.opened {
    left: 0px;
  }

  .menu-btn {
    margin: 15px 20px 15px 0px;
    font-size: 25px;
  }

  .content {
    width: 100%;
    margin: 0;
  }

  .content.opened {
    transform: translateX(250px);
  }
}
